@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');
/* Imported styles */

/* Page variables (all colors used will be in here) */
:root{
    --dominant-color: #e7f2f8;
    --highlight-color: #74bdcb;
    --contrasting-color: #ffa384;
    --complimentary-color: #efe7bc;
    --text-color: #000000;
}

/* HEADER STYLES */

/* BODY STYLES */
body{
    font-size: 0.9rem;
    font-family: 'Trispace', sans-serif;
    height: 100vh;
    background-color: var(--dominant-color);
    
}
/* Search Subsection (View 1)*/
.search{
    flex-grow: 2;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 10px black;
    background-color: var(--complimentary-color);
    margin: 15px;
}
.song-search{
    display: flex;
    justify-content: space-between;
}
.song-search input[type='text'], .song-search input[type='number'], .song-search select{
    background-color: var(--complimentary-color);
    margin-left: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--highlight-color);
}

.song-search input[type='text'], .song-search select{
    width: 150px;
}
.song-search input[type='number']{
    width: 75px;
}
.song-search h2{

}
.input-container{
    margin: 20px 12px auto;
    width: 85% auto;
    box-shadow: 2px 2px 5px black;
    padding: 15px 12px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 10px;
}
.song-search button{
    padding: 5px;
    border-radius: 7.5px;
    border: none;
    box-shadow: 1px 1px 3px black;
    background-color: var(--highlight-color);
    width: 40%;
    font-weight: 600;
    cursor: pointer;
}
/* Misc styling  */

/* Year Inputs Styling */
.year-input-wrapper{

}

/* Results Subsection (View 1)*/
.results{
    background-color:var(--contrasting-color);
    padding: 12px;
    margin: 15px;
    text-align: center;
    flex-grow: 2;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 10px black;
    max-height: 550px; 
    overflow: scroll;
}
.results-table{
    min-width: 500px;
    border-collapse: collapse;
    box-shadow: 1px 1px 10px gray;
    padding: 10px 15px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    text-align: left;
    width: 1000px;
    font-size: 0.85rem;
}
table tr:hover{
    transition: 0.2s ease;
    transform: scale(1.01);
}
th{
    top: 0;
    padding: 0.8rem 1rem;
    position: sticky;
    font-size: 1rem;
    border-bottom: 1.2px solid black;
    background-color: var(--highlight-color);
}
td{
    width: 20%;
    padding: 0.8rem 0.5rem;
}

/* Song Information Subsection (View 2)*/
.info{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr))
}
#song-info-header{
    grid-column: 1 / span 2;
}
.analysis{
    height: 100px; 
    width: 100px;
    border: 1px solid black;
    background-image: linear-gradient(orange, red);
    margin: 20px;
}

/* FOOTER STYLES */
.footer-list{
    border-top: 2px solid black;
    padding: 20px 3px;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-evenly;
}
footer li{
    list-style-type: none;
}
