@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');*/
/* Imported styles */

/* Page variables (all colors used will be in here) */
:root{
    --dominant-color: #404258;
    --highlight-color: #fb2576;
    --contrasting-color: #474E68;
    --complimentary-color: #6B728E;
    --text-color: #ffffff;
    --link-transition-color: #ff7f50;
}

/* HEADER STYLES */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;
}
header h1{
    font-size: 2.1em;
    margin-left: 15px;
    text-shadow: 1px 1px 4px black;
}
button{
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: bold;
    box-shadow: 1px 1px 1px black;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    background-color: var(--complimentary-color);
    text-shadow: 1px 1px black;
    margin-right: 20px;
    border: 0.8px solid black;
}

/* BODY STYLES */
body{
    font-size: 0.9rem;
    font-family: 'Zen Antique', serif;
    height: 100vh;
    background-color: var(--dominant-color);
    color: var(--text-color);
}
/* Search Subsection (View 1)*/
.search{
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply; 
    flex-basis: 30%;
    padding: 7.5px;
    border-radius: 20px;
    background-color: var(--contrasting-color);
    box-shadow: 1px 1px 10px black;
    margin: 15px;
}
.song-search, .song-info, .song-playlists{
    display: flex;
    justify-content: space-evenly;
}
input[type='text'], .song-search input[type='number'], .song-search select{
    color: var(--text-color);
    background-color: transparent;
    margin-left: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--highlight-color);
}

.song-search input[type='text'], .song-search select{
    width: 130px;
    margin-top: 7.5px;
    margin-right: 5%;
    float: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.song-search input[type='number']{
    width: 100px;
    margin-right: 5%;
    float: right;
    -moz-appearance: textfield;
}
.song-search h2{
    text-align: center;
}

.input-container{
    margin: 35px 45px auto;
    width: 85% auto;
    border-radius: 20px;
    background-color: var(--contrasting-color);
    box-shadow: 2px 2px 5px black;
    padding: 20px 15px;
}

.year-input-wrapper, .popularity-input-wrapper{
    margin-left: 10%;
    margin-top: 7.5px;
}
.year-input-wrapper label, .popularity-input-wrapper label{
    font-size: 0.9rem;
    font-weight: normal;
}
.button-container{
    margin: 20px 50px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 10px;
}
.song-search button{
    padding: 9px;
    border-radius: 7.5px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px black;
    background-color: var(--highlight-color);
    color: var(--text-color);
    text-shadow: 1px 1px 5px black;
    width: 50%;
    margin: 0px 15px;
    font-weight: 600;
    cursor: pointer;
}

/* Misc styling  */
a:visited{
    color: white;
}
.results-table th{
    text-shadow: 0.35px 0.35px black;
}
button:hover, #playlist-view-btn:hover, #playlist-add:hover, #search-view-btn:hover{
    transition: 0.5s;
    box-shadow: 2px 2px 10px black;
    background-color: var(--link-transition-color);
}
h2{
    text-shadow: 1px 1px black;
}
h1{
    font-size: 1.6rem;
}
/* Results Subsection (View 1)*/
.results{
    padding: 12px;
    margin: 15px;
    text-align: center;
    flex-basis: 70%;
    overflow-x: hidden;
    max-height: 750px; 
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
}
.results::-webkit-scrollbar, .playlist-songs-container::-webkit-scrollbar{
    display: none;
}

.results-table{
    min-width: 100%;
    border-collapse: collapse;
    box-shadow: 1px 1px 10px black;
    padding: 10px 15px;
    table-layout: fixed;
    margin: 25px auto;
    text-align: left;
    font-size: 0.9rem;
    background-color: var(--complimentary-color);
}

tr:nth-child(odd){
    background-color: var(--contrasting-color);
}
th{
    top: -12px; /* For some reason I had to put a negative value in so that the header wouldn't have a gap between itself and the top of the table */
    padding: 0.8rem 1rem;
    position: sticky;
    font-size: 1.075rem;
    border-bottom: 1.2px solid black;
    background-color: var(--highlight-color);
}
td{
    font-size: 1rem;
    width: 20%;
    padding: 0.8rem 0.5rem;
}

.title{
    cursor: pointer;
}
.title:hover{
    transition: 0.25s;
    text-decoration: underline;
    font-weight: bold;
    color: var(--link-transition-color);
    text-shadow: 1px 1px black;
}
label{
    font-size: 1.1rem;
}
.sort{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.sort:hover{
    transition: 0.3s ease;
    color: var(--complimentary-color);
}
.clicked{
    color: green;
}
#magnifying-glass-emoji{
    font-size: 0.95rem;
    margin-left: 5px;
}
/* Song Information Subsection (View 2)*/

.info{
    margin-top: 45px;
    flex-basis: 45%;
    min-width: 50%;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr))
}
.playlist-add-div input[type='checkbox']{
    cursor: pointer;
}
.playlist-add-div{
    transition: 0.75s;
    padding: 5px 15px;
    border: 2px solid black;
    width: 300px;
    border-radius: 6.5px;
    height: auto;
    max-height: 300px;
    background-image: linear-gradient(to top, #1e3c72 0%, #1e3c72 1%, #2a5298 100%);
    background-color: var(--complimentary-color);
    z-index: 9999;
    box-shadow: 2px 2px 5px black;
    position: fixed;
    left: 50%;
    top: 45%;
    text-align: center;
    margin-left: -150px;
    margin-top: -150px;
}
.checkbox-outer-container{
    display: grid;
    text-align: left;
    gap: 5px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
#popup-btn{
    margin: 25px 0px;
    padding: 0px;
    font-size: 15px;
    width: 100px;
    height: 30px;
}
.song-details{
    grid-column: span 2;
    text-align: center;
    margin: 10px;
    display: block;
    /* background-color: var(--contrasting-color);
    border: 1px solid black;
    box-shadow: 2px 5px 10px black; */
}
#song-info-header{
    text-align: center;
    font-size: 24px;
    grid-column: 1 / span 2;
}
.playlist-add{
    background-color: var(--highlight-color);
}

#details-box{
    flex: 75%;
}
.song-info{
    flex-wrap: wrap;
}
.analysis{
    text-align: center;
    align-self: start;
    border: 1px inset black;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply;    
    background-color: var(--contrasting-color); 
    box-shadow: 1px 1px 3px black; 
}

.analysis h2{
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.8px;
}

.data-box{
    flex-grow: 5;
}
.progress{
    margin: auto;
    position: relative;
    height: 16px;
    width: 175px;
    border-radius: 1rem;
    background-color: var(--contrasting-color);
    border: 1px solid black;
}
.progress::before{
    content: attr(data-label);
    display:flex;
    align-items:center;
    position: absolute;
    height: 14px;
    width: var(--width);
    min-width: 0px;
    max-width: 100%;
    background-color: var(--inputted-color);
    border: 1px solid black;
    border-radius: 1rem;
}
.chart{
    flex-basis: 55%;
    max-width: 43%;
    /* The following ensures that the chart is centered both horizontally and vertically*/
    display: flex;
    align-items: center; 
    justify-content: center;
}
canvas{
    position: absolute;
}

.song-title{
    color: white;
    text-shadow: 1px 1px 3px black;
    font-size: 2rem;
    letter-spacing: 0.8px;
}

#info-to-search-btn{
    grid-column: span 2;
    width: 180px;
    height: 50px;
    background-color: var(--highlight-color);
    color: var(--text-color);
    text-shadow: 1px 1px 2px gray;
    border-radius: 7.5px;
    border: 1px solid black;
    cursor: pointer;
    margin: auto;
    font-family: 'Zen Antique', serif;
    font-size: 18px;
    box-shadow: 1px 1px 6px black;
}

/* SONG PLAYLIST VIEW */
.song-playlists{
    margin: 10px;
    height: 860px;
}
.playlist-selections{
    margin: auto;
    box-shadow: 2px 2px 5px black;
    background: var(--complimentary-color);
    border-radius: 15px;
    padding: 3px;
    flex-grow: 1;
    max-width: 30%;
}
.playlist-details{
    margin-left: 25px;
    display: flex;
    flex-grow: 3;
}

.playlist-list{
    padding: 15px 0px;

}
.playlist-list h1{
    font-size: 1.8rem;
}
.new-playlist-container{
    margin: 25px auto;
    padding: 25px 0px;
    width: 75%;
    box-shadow: 1px 1px 4px black;
    border: 1px solid black;
}
.new-playlist-container div{
    margin-bottom: 20px;
}
.playlist-list h4{
    border-radius: 12px;;
    background-color: var(--contrasting-color);
    font-size: 1rem;
    margin: 15px 25%;
    padding: 12px 15px;
    text-align: left;;
    list-style-type: none;
    box-shadow: 2px 2px 3px black;
}
.playlist-songs-container{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    max-height: 145px;
    overflow-y: scroll;
}
.playlist-songs-container p{
    font-size: 0.95rem;
    box-shadow: 1px 0px 4px black;
    margin: 5px;
    padding: 2px;
    border-radius: 8px;
    background-color: var(--contrasting-color);
}

.playlist-list h4:hover{
    color: var(--link-transition-color);
    text-decoration: underline;
    cursor: pointer;
}
.playlist-selections, .playlist-details{
    height: 800px;
    text-align: center;
    text-shadow: 1px 1px black;
}
.averages-container{   
    flex-basis: 80%;
    display: flex;
    align-items: center;
    max-width: 800px;
}
#averages-chart{
    margin: 20px auto;
}
.details-element{
    width: 400px; /* The width of this element shouldn't change. */
    border: 1px solid black;
    box-shadow: 2px 2px 10px black;
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
    background-blend-mode: multiply,multiply; 
    background-color: var(--contrasting-color);
    padding: 3px 8px;
    font-size: 1rem;
    border-radius: 15px;
    font-weight: bold;
    margin: 15px 25px;
}
.details-element li{
    text-align: left;
    margin: 4px;
    list-style-type: none;
    padding: 5px;
}
.box-heading-div{
    font-size: 1.15rem;
    font-weight: 700;
}
.options-wrapper{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}
.options-wrapper div{
    box-shadow: 2px 2px black;
    padding: 10px;
    font-size: 1.05rem;
    margin: 10px 15px;
    font-size: 0.95rem;
    border-radius: 4px;
    background-color: var(--contrasting-color);
}
.options-wrapper div:hover{
    transition: 0.8s ease-in;
    background-color: var(--highlight-color);
    cursor: pointer;
}
/* FOOTER STYLES */
.footer-list{
    border-top: 2px solid black;
    padding: 20px 3px;
    font-size: 1.1rem;
    display: flex;
    justify-content: space-evenly;
}
footer li{
    list-style-type: none;
}

/* Responsive webpage / media queries section */

/* 1300px breakpoint - some elements begin to squish together at this point, but not much has to be done */
@media only screen and (max-width: 1300px){
    .song-playlists{
        display: block;
    }
    .chart{
        text-align: center;
        grid-column: span 2;
        margin: auto;
    }
    canvas{
        position: relative;
    }
    .playlist-selections{
        max-width: none;
        margin: 20px auto;
        width: 60%;
    }
    .playlist-list div{
        margin: 20px 100px;
    }
    #playlist-add-success{
        font-size: 1.1rem;
        text-shadow: 1px 1px black;
    }
    .details-container h1, .details-element:nth-child(2){ 
        grid-column: span 2;
    }
    .details-container{
        display: grid;
        padding: 15px;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .details-element{
        margin: 7.5px;
        width: auto;
    }
    .playlist-details{
        width: 85%;
        margin: auto;
    }
    .playlist-selections, .playlist-details{
        min-height: 0px;
        height: auto;
    }
    .song-playlists{
        min-height: 1000px;
        height: auto;
    }
    .playlist-details{
        display: block;
    }

    label{
        font-size: 1rem;
    }
    .analysis h2, h1{
        font-size: 1.2rem;
    }
    .chart{
        min-width: 600px;
    }
    #details-box{
        height: auto;
        padding: 20px;
    }
    .song-title{
        font-size: 1.75rem;
    }
    .song-details{
        width: 80%;
        margin: auto;
    }
    .info{
        width: 85%;
        margin: 25px auto;
    }
    .song-search, .song-info{
        display: block;
    }
    .search{
        width: 65%;
        margin: 15px auto;
    }
    .footer-list{
        justify-content: space-evenly;
        font-size: 1rem;
    }
    .song-search input[type='text'], .song-search select{
        width: 175px;
    }
    .song-search input[type='number']{
        width: 100px;
    }
    .averages-container{
        max-width: 1000px;
        min-width: 600px;
    }
    .averages-chart{
        margin: auto;
    }
    .results-table th{
        font-size: 1rem;
    }
}
/* 750px breakpoint configuration */
@media only screen and (max-width: 750px) {
    .chart{
        min-width: 400px;
        min-height: 400px;
    }
    .song-title{
        font-size: 1.15rem;
    }
    .analysis h2, h1{
        font-size: 1rem;
    }
    .averages-container{
        width: 100%;
        min-width: 700px;
    }
    .song-details{
        width: 75%;
    }
    .info{
        display: block;
    }
    .analysis {
        box-shadow: 1px 1px 8px black;
        margin: 10px 0;
    }
    .song-title{
        font-size: 1.35rem;
    }
    .playlist-selections{
        width: 90%;
    }
    .playlist-details{
        width: 100%;
    }
    .playlist-selections h4, .box-heading-div{
        font-size: 1rem;
    }
    .details-element p, .playlist-selections p{
        font-size: 0.85rem;
    }
    header h1{
        font-size: 1.65rem; 
    }
    .search{
        width: 80%;
    }
    #playlist-view-btn, #search-view-btn{
        width: 100px;
        padding: 2px;
        font-size: 0.75rem;
    }
    .song-search input[type='text'], .song-search select{
        width: 120px;
    }
    #magnifying-glass-emoji{
        font-size: 0.8rem;
    }
    th{
        font-size: 1rem;
    }

    .footer-list{
        font-size: 0.85rem;
    }
    .footer-list li{
        text-align: center;;
    }
    .results-table th:last-child, .results-table td:last-child{ /* Hides the popularity field from the table */
        display: none;
    } 

    .results-table th, td{
        font-size: 0.9rem;
        width: 25%;
    }
    .sort{
        font-size: 1.10rem;
    }    
    header{
        display: block;
        text-align: center;
    }
    header div{
        margin-bottom: 15px;
    }
} 

/* Phones media queries */
@media only screen and (max-width: 500px) {
    .sort{
        font-size: 0.975rem;
    }
    .results-table th:nth-child(3), .results-table td:nth-child(3){ /* Hides Away the year row as there's not much space for it */
        display: none;
    }
    .input-container{
        margin: 20px 15px;
    }
    .results-table td{
        width: 33.33%;
        font-size: 0.85rem;
    }
    .results table td:first-child{
        text-align: left;
        margin-left: 10px;
    }
    header div button{
        padding: 0px
    }
    .averages-container{
        min-width: 350px;
    }
}
@media only screen and (max-width: 380px){
    .results-table td:first-child{
        text-decoration: underline;
    }

    #magnifying-glass-emoji{
        display: none;
    }
    .results-table td{
        font-size: 0.79rem;
    }
}