@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@300&display=swap');*/
/* Imported styles */

/* Page variables (all colors used will be in here) */
:root{
    --dominant-color: #404258;
    --highlight-color: #fb2576;
    --contrasting-color: #474E68;
    --complimentary-color: #6B728E;
    --text-color: #ffffff;
}

/* HEADER STYLES */

/* BODY STYLES */
body{
    font-size: 0.9rem;
    font-family: 'Zen Antique', serif;
    height: 100vh;
    background-color: var(--dominant-color);
    color: var(--text-color);
}
/* Search Subsection (View 1)*/
.search{
    flex-grow: 2;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 10px black;
    background-color: var(--complimentary-color);
    margin: 15px;
}
.song-search, .song-info, .song-playlists{
    display: flex;
    justify-content: space-between;
}
.song-search input[type='text'], .song-search input[type='number'], .song-search select{
    color: var(--text-color);
    background-color: transparent;
    margin-left: 20px;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--highlight-color);
}

.song-search input[type='text'], .song-search select{
    width: 150px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.song-search input[type='number']{
    width: 80px;
    -moz-appearance: textfield;
}
.song-search h2{
    text-align: center;
}
.input-container{
    margin: 20px 12px auto;
    width: 85% auto;
    background-color: var(--contrasting-color);
    box-shadow: 2px 2px 5px black;
    padding: 15px 12px;
}

.button-container{
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    padding-bottom: 10px;
}
.song-search button{
    padding: 5px;
    border-radius: 7.5px;
    border: none;
    box-shadow: 1px 1px 3px black;
    background-color: var(--highlight-color);
    width: 40%;
    font-weight: 600;
    cursor: pointer;
}
/* Misc styling  */

/* Year Inputs Styling */
.year-input-wrapper{

}

/* Results Subsection (View 1)*/
.results{
    background-color:var(--contrasting-color);
    padding: 12px;
    margin: 15px;
    text-align: center;
    flex-grow: 2.5;
    border: 0.5px solid gray;
    box-shadow: 1px 1px 10px black;
    max-height: 550px; 
    overflow: scroll;
}
.results-table{
    min-width: 500px;
    border-collapse: collapse;
    box-shadow: 1px 1px 10px black;
    padding: 10px 15px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    text-align: left;
    width: 800px;
    font-size: 0.85rem;
}
table tr:hover{
    transition: 0.2s ease;
    transform: scale(1.01);
}
th{
    top: 0;
    padding: 0.8rem 1rem;
    position: sticky;
    font-size: 1rem;
    border-bottom: 1.2px solid black;
    background-color: var(--highlight-color);
}
td{
    font-size: 1rem;
    width: 20%;
    padding: 0.8rem 0.5rem;
}

.table-link{
    text-decoration: underline;
    cursor: pointer;
}
.table-link:hover{
    font-weight: bold;
    color: blue;
}
label{
    font-size: 1.1rem;
}
.sort{
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}

.sort:hover{
    transition: 0.3s ease;
    color: var(--complimentary-color);
}
/* Song Information Subsection (View 2)*/

.info{
    flex-grow: 1;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(6, minmax(0, 1fr))
}
.song-details{
    grid-column: span 2;
    text-align: center;
    padding: 5px 15px;
    margin: 10px;
    display: block;
    background-color: var(--contrasting-color);
    border: 1px solid black;
    box-shadow: 2px 5px 10px black;
}
#song-info-header{
    text-align: center;
    font-size: 24px;
    grid-column: 1 / span 2;
}
.analysis{
    text-align: center;
    align-self: start;
    border: 1px solid black;
    background-color: var(--complimentary-color);
    box-shadow: 1px 1px 3px black;
}
.analysis h2{
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 0.8px;
}
.chart{
    flex-grow: 1.5;
    /* The following ensures that the chart is centered both horizontally and vertically*/
    display: flex;
    align-items: center; 
    justify-content: center;
}

/* FOOTER STYLES */
.footer-list{
    border-top: 2px solid black;
    padding: 20px 3px;
    font-size: 0.9rem;
    display: flex;
    justify-content: space-evenly;
}
footer li{
    list-style-type: none;
}
